
<div class="row-fluid">
  <div class="span6">
    <h4>學歷</h4>
    <p>交通大學資訊管理學系研究所(2006~2008)</p>
    <p>中央大學資訊管理學系(2002~2006)</p>
  </div>

  <div class="span6">
    <h4>工作經歷</h4>
    <p>中華電信研究院(2011.3~至今)</p>
    <p>台灣積體電路公司(2010.3~2011.3)</p>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div class="span12">
    <h4>經驗</h4>
    <li>2 years Web Developer (Full-Stack)</li>
    <li>1+ years Rails Developer</li>
    <li>1+ years Mobile App Developer (android, iphone, phonegap)</li>
    <li>2 years Software App Developer (java, shell script, vb6.0, mysql)</li>
    <hr>
    <h4>技能</h4>
    <p>Ruby on Rails / iOS / Android / JAVA / PHP / Git / PhoneGap / JQuery / Javascript</p>
    <p>Toeic: 825</p>
    <p>TDD, RSpec, Factory-Girl, RSpec-Given, Carrierwave, OAuth, SimpleForm, Sanitize,
      Devise, Cells, settingslogic, fancybox2-rails, mustache-js-rails, redis, httpparty, fullcalendar, resquei, Spree, active_model_serializers, Facebook Graph API, Nested Model Form, gollum</p>
  </div>
</div>  
