
<div class="row-fluid">
  <div class="span6">
    <h3>Education</h3>
    <li><b>[Master] NCTU, Computer Science(2006~2008)</b></li>
    <p></p>
    <li><b>[Bachelor] NCU, Information Mangement(2002~2006)</b></li>
    <p></p>
  </div>

  <div class="span6">
    <h3>Work Experience</h3>
    <li><b>Vpon (2014.7 ~ Present)</b></li>
    <p>Rails developer</p>
    <li><b>Chunghwa Telecom Laboratories (2011.3 ~ 2014.7)</b></li>
    <p>Research Fellow：Web and Mobile App developer</p>
    <li><b>TSMC (2010.3 ~ 2011.3)</b></li>
    <p>Software Engineer: software development</p>
  <li><b>Innolux/apex (2006~2008)</b></li>
    <p>Intern</p>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div class="span12">
    <h3>Experience</h3>
    <li>2 years Web Developer (Full-Stack)</li>
    <li>1+ years Rails Developer</li>
    <li>3 years Software App Developer (android, iphone, phonegap, java, shell script, vb6.0, mysql)</li>
    <hr>
    <h3>Skill</h3>
    <p>Ruby on Rails / Docker / iOS / Android / JAVA / PHP / Git / PhoneGap / JQuery / Javascript</p>
    <p>Toeic: 825</p>
    <!--<p>TDD, RSpec, Factory-Girl, RSpec-Given, Carrierwave, OAuth, SimpleForm, Sanitize,
      Devise, Cells, settingslogic, fancybox2-rails, mustache-js-rails, redis, httpparty, fullcalendar, resque, Spree, active_model_serializers, Facebook Graph API, Nested Model Form, gollum, RWD</p>-->
  </div>
</div>  
