
<div class="row-fluid">
  <div class="span6">
    <h3>學歷</h3>
    <li><b>交通大學資訊管理學系研究所(2006~2008)</b></li>
    <p></p>
    <li><b>中央大學資訊管理學系(2002~2006)</b></li>
    <p></p>
  </div>

  <div class="span6">
    <h3>工作經歷</h3>
    <li><b>中華電信研究院(2011.3~至今)</b></li>
    <p>研究員：網頁及手機APP開發</p>
    <li><b>台灣積體電路公司(2010.3~2011.3)</b></li>
    <p>軟體工程師：內部網頁以及機台程式開發</p>
  <li><b>群創光電/寶碩科技(2006~2008)</b></li>
    <p>實習生</p>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div class="span12">
    <h3>經驗</h3>
    <li>2 years Web Developer (Full-Stack)</li>
    <li>1+ years Rails Developer</li>
    <li>1+ years Mobile App Developer (android, iphone, phonegap)</li>
    <li>2 years Software App Developer (java, shell script, vb6.0, mysql)</li>
    <hr>
    <h3>技能</h3>
    <p>Ruby on Rails / iOS / Android / JAVA / PHP / Git / PhoneGap / JQuery / Javascript</p>
    <p>Toeic: 825</p>
    <p>TDD, RSpec, Factory-Girl, RSpec-Given, Carrierwave, OAuth, SimpleForm, Sanitize,
      Devise, Cells, settingslogic, fancybox2-rails, mustache-js-rails, redis, httpparty, fullcalendar, resque, Spree, active_model_serializers, Facebook Graph API, Nested Model Form, gollum, RWD</p>
  </div>
</div>  
