
<div class="masthead">
  <!--<ul class="nav nav-pills pull-right">
    <li class="active"><a href="#">首頁</a></li>
    <li><a href="#">專案</a></li>
  </ul>-->
  <div class="row-fluid">
    <div class="span8" style="font-size:15px";>
      <h3>Hi, I am lake (張國銘)</h3>
      <ul>
        <li>e-mail:<%= mail_to("ilake.chang@gmail.com","ilake.chang@gmail.com") %></li>
      </ul>
      <ul>
        <li>
          5+ years experience backend engineer expertise in architecture and scalable system.                                 full-stack web developer and mobile(android, iphone, phonegap) app developer.
        </li>
        <br/>
        <li>
          At present working at Vpon Inc. I have been contributing myself to whole website architecture design and building devops environment as the tech lead in the realm of rails and front-end(react js).
        </li>
        <br/>
        <li>
          In 2010 I joined TSMC, which is worldwide recognized as the NO.1 semi-conductor manufacturer, as a software developer and was assigned to be in charge of website architecture design and implementation. Later on, I changed my career path and chose to work for CHUNGHWA TELECOM which is the No.1 telecom operator in Taiwan. In which I was responsible for full stack web development, iOS app and android app development.
        </li>
        <br/>
        <li>
          Besides company work. I proactive build some projects for practice and more experiences. In 2014 I build “strive” to help people to schedule their goals. In 2015 I build “aruru” as a self-learning platform. And In 2016 I write a ruby gem as feature toggle plugin.
        </li>
      </ul>


      </p>
    </div>
    <div class="span4">
      <div class="imgWrap">
        <div class="bg1"></div>
        <div class="bg2"></div>
        <div class="imgDiv">
          <%= image_tag 'ilake.jpg', :title => 'ilake', :class => "user_photo"  %>
        </div>
      </div>
    </div>
  </div>
</div>
