
<div class="masthead">
  <!--<ul class="nav nav-pills pull-right">
    <li class="active"><a href="#">首頁</a></li>
    <li><a href="#">專案</a></li>
  </ul>-->
  <div class="row-fluid">
    <div class="span8">
      <h3>你好,我是張國銘</h3>
      <p>我是軟體工程師，在台積電以及中華電這幾年工作以來，對於各項軟體開發、手機APP開發、網頁開發、資料庫處理等均有涉獵；平日工作之餘也主動建置專案來提升自己的技術以及經驗，目前希望找到有更多挑戰的工作，並做出更多有意義的網路服務</p>
      <ul>
        <li>e-mail:<%= mail_to("ilake.chang@gmail.com","ilake.chang@gmail.com") %></li>
        <li>blog:<%= link_to("amyilake.blogspot.tw","http://amyilake.blogspot.tw/")%></li>
        <li>電話:0910796353</li>     
      </ul>
    </div>
    <div class="span4">
      <div class="imgWrap">
        <div class="bg1"></div>
        <div class="bg2"></div>
        <div class="imgDiv">
          <%= image_tag 'ilake.jpg', :title => 'ilake', :class => "user_photo"  %>
        </div>
      </div>
    </div>
  </div>
</div>
