
<div class="masthead">
  <!--<ul class="nav nav-pills pull-right">
    <li class="active"><a href="#">首頁</a></li>
    <li><a href="#">專案</a></li>
  </ul>-->
  <div class="row-fluid">
    <div class="span8">
      <h3>Hi, I am lake (張國銘)</h3>
      <p>I am a sofeware developer, I am a responsible and cooperative man for the company. Besides company task. I proactive build side projects to enhance my skill and experience</p>
      <ul>
        <li>e-mail:<%= mail_to("ilake.chang@gmail.com","ilake.chang@gmail.com") %></li>
      </ul>
    </div>
    <div class="span4">
      <div class="imgWrap">
        <div class="bg1"></div>
        <div class="bg2"></div>
        <div class="imgDiv">
          <%= image_tag 'ilake.jpg', :title => 'ilake', :class => "user_photo"  %>
        </div>
      </div>
    </div>
  </div>
</div>
