<div class="container-narrow">

  <%= render 'intro' %>
  <hr>
  <%= render 'exp' %>
  <hr>
  <%= render 'project' %>
  <hr>

  <div class="footer">
    <p>&copy; amyilake 2014</p>
  </div>

</div> <!-- /container -->

